<div class="container-flux">
    <div class="jumbotron ">

      <div class="container jumboContainer">
        <h1>Welcomo to CDPSfy!</h1>
        <p>In this website you can listen the uploaded tracks and upload your own tracks</p>
        <p>
          <a class="btn btn-primary btn-lg btn-login">TRACKS...!</a>
        </p>
        </div>

    </div>

</div>