<h2>Login</h2>

<form method="POST" action='/login'>
	<div class="field">
		<label for="login">Login:</label><br />
		<span class="input input--minoru">
   			<input class="input__field input__field--minoru"  value="" placeholder="Escriba su nombre" type="text" id="login" name="login"/>
   			<label class="input__label input__label--minoru" for="login">
					</label>
		</span>
	</div>	
	<div class="field">
		<label for="password">password:</label><br />
		<span class="input input--minoru">
   			<input class="input__field input__field--minoru"  value="" placeholder="Escriba su nombre" type="password" id="password" name="password"/>
   			<label class="input__label input__label--minoru" for="password">
					</label>
		</span>
	</div>

	<div class="actions">


		  <div class="box bg-1">
					<button name="commit" type="submit" value="Login" class="button button--isi button--text-thick button--text-upper button--size-s botonGly botonGlyG"><span  class="textoGly"> Login </span> <span class="glyphicon glyphicon-ok-sign iconCrear"></span></button>
		</div>
	</div>

</form>

<div class="col-sm-6 col-sm-offset-3 containerSubida">
<form action="/login" method="POST">
        <div class="form-group">
            	<label for="login">Login:</label>
            <input type="text" class="form-control"  id="login"  name="login">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>

    </div>