<section class="text-center" id="tracksPrevios">
	<div class="container">
		<div class="col-xs-12">
			<div class="row">
			 <a onclick="
				$('.cancion').removeClass('blueI');" class="btn btn-primary btn-lg btn-filter">TRACKS...!</a>
			  <a onclick="
				$('.cancion').removeClass('blueI');
                 $('.red').addClass('blueI');" class="btn btn-primary btn-lg btn-filter">TRACKS...!</a>
			   <a onclick="
				$('.cancion').removeClass('blueI');
                $('.blue').addClass('blueI');" class="btn btn-primary btn-lg btn-filter">TRACKS...!</a>
			    <a onclick="
				$('.cancion').removeClass('blueI');
                $('.blue').addClass('blueI');" class="btn btn-primary btn-lg btn-filter">TRACKS...!</a>	
			</div>
		</div>

		<div class="col-xs-12">
			<div class="row equal-height-panels ">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 cancion red">
					<a href="#">
						<div class="panel panel-default">
							<div class="item-image">
     						 <img src="/images/jumboImage.jpg" class="img-responsive ">
     						</div>
						      <div class="panel-body">
						      	     						 	  <div class="item-content">
          <div class="item-text">
						        <p class='lead'>Card Example</p>
						       <!-- <p>20 Followers, 2 Posts</p>
						        <p>
						          <img src="//placehold.it/28X28/ededed">          
						          <img src="//placehold.it/28X28/a0c3fd">          
						          <img src="//placehold.it/28X28/25282d"> -->         
						        </p>
							</div>
						</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 cancion  red">
					<a href="#">
						<div class="panel panel-default">
							<div class="item-image">
     						 <img src="/images/photoPlato.jpg" class="img-responsive ">
     						 	</div>

						      <div class="panel-body">
						      	     						 	  <div class="item-content">
          <div class="item-text">
						        <p class='lead'>Card Example</p>
						       <!-- <p>20 Followers, 2 Posts</p>
						        <p>
						          <img src="//placehold.it/28X28/ededed">          
						          <img src="//placehold.it/28X28/a0c3fd">          
						          <img src="//placehold.it/28X28/25282d"> -->         
						        </p>
							</div>
						</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 cancion  red">
					<a href="#">
						<div class="panel panel-default">
							<div class="item-image">
     						 <img src="/images/quaver3.png" class="img-responsive ">
     						 	</div>
						      <div class="panel-body">
						      	     						 	  <div class="item-content">
          <div class="item-text">
						        <p class='lead'>Card Example</p>
						       <!-- <p>20 Followers, 2 Posts</p>
						        <p>
						          <img src="//placehold.it/28X28/ededed">          
						          <img src="//placehold.it/28X28/a0c3fd">          
						          <img src="//placehold.it/28X28/25282d"> -->         
						        </p>
							</div>
						</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 cancion  red">
					<a href="#">
						<div class="panel panel-default">
							<div class="item-image">
     						 <img src="/images/a.png" class="img-responsive">
     						</div>
						      <div class="panel-body">
				   	        <div class="item-content">
         					 <div class="item-text">
						        <p class='lead'>Card Example</p>
						       <!-- <p>20 Followers, 2 Posts</p>
						        <p>
						          <img src="//placehold.it/28X28/ededed">          
						          <img src="//placehold.it/28X28/a0c3fd">          
						          <img src="//placehold.it/28X28/25282d"> -->         
						        </p>
							</div>
								</div>
						</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--
<%for (var t in tracks) {%>

<a class="track" href='/tracks/<%=tracks[t]._id%>'>
	<img src="<%=tracks[t].urlCover%>">
	<p><%=tracks[t].name%></p>
</a>

<%}%>

-->